body {
  background-color: rgb(53, 54, 58);
}

#container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 100%; 
}

.grid {
  border: .5px solid rgba(171, 122, 217, 0.408); 
  column-gap: 0px;
  row-gap: 0px;
  width: 36px;
  height: 36px;
}
