body {
  background-color: rgb(53, 54, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
 
}

#container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 100%; 
}


.box16 {
  border: .5px solid rgba(171, 122, 217, 0.408); 
  column-gap: 0px;
  row-gap: 0px;
  width: 36px;
  height: 36px;
}

.box32 {
  border: .5px solid rgba(171, 122, 217, 0.408); 
  column-gap: 0px;
  row-gap: 0px;
  width: 17.5px;
  height: 17.5px;
}
